<div class="container-fluid">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Person</h3>
      </div>
      <%= form_for(@person, url: url, class: 'form-horizontal') do |f| %>
        <%= hidden_field_tag :param_save, true %>
        <%= hidden_field_tag :last_person_id, @last_person.id %>
        <%= hidden_field_tag :time_for_update, 1 %>

        <div class="box-body">
          <%= f.label :name, class: 'control-label' %>

          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>

        <div class="box-body">
          <%= f.file_field :files, multiple: true %>
        </div>

        <div class="box-footer">
          <%
=begin%>
 <div id="to_save" class='btn btn-info' onclick='changeSave()'> Salvar </div> 
<%
=end%>
        <%= f.submit 'Salvar', class: 'btn btn-info'%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <%#= render 'people/last_person' %>
  </div>
</div>

<script>
  $(function(){
    $("#to_save").prop('disabled', true);
  });

  function saveForm(){
    if($('#person_name').val().length >= 5){
      $.ajax({
        type: "POST",
        url: "/people",
        data: $("#new_person").serialize(),
        dataType: "json",
        success: function(data) {
          console.log(data);
        }
      });
      $("#person_name").attr("oninput","");
      $("#to_save").prop('disabled', false);
      updateForm();
    }
  }

  function updateForm(){
    updateParams();
    var timer = parseInt($("#time_for_update").val())*10000;

    setTimeout(updateForm, timer);
  }

  function changeSave(){
    $("#param_save").val('false');
    updateParams();
    window.location.href = "/"; 
  }

  function updateParams(){
    var last_person_id = parseInt($('#last_person_id').val())+1;
    $.ajax({
      type: "PUT",
      url: "/people/"+last_person_id,
      data: $("#new_person").serialize(),
      dataType: "json",
      success: function(data) {
        console.log(data);
      }
    });
  }
</script>