<li class="nav-item">
  <%= link_to '#', class: "nav-link link_colors" do %>
    <span> Change Colors </span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to item_of_tables_path, class: "nav-link" do %>
    <span> Select 2 </span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to paginations_path, class: "nav-link" do %>
    <span> Pagination </span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to '#', class: "nav-link link-disabled" do %>
    <span> Chart </span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to new_person_path, class: "nav-link" do %>
    <span> Person </span>
  <% end %>
</li>

<li class="nav-item">
  <%= link_to text_editor_index_path, class: "nav-link" do %>
    <span> Text Editor </span>
  <% end %>
</li>
